
@{
    ViewData["Title"] = "Likes";
}

<h1>Likes</h1>

<div class="contenedor">
    <div class="centrar">
        <div class="card mb-3" style="max-width: 700px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="~/img/Prueba.jpg" class="img-fluid rounded-start" alt="..." id="card">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nombre Mascota</h5>
                <p class="card-text">Edad: </p>        
                <p class="card-text">Raza: </p>        
                <p class="card-text">Sexo: </p>              
                <p class="card-text">Dueño: </p>
                <p class="card-text">Delegacion: </p>
                <div class="buttons-match">
                    <input class="btn btn-primary" type="submit" value="Match" />
                    <input class="btn btn-danger" type="submit" value="Eliminar" />
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
