
@{
    ViewData["Title"] = "Match";
}

<h1>Match</h1>

<div class="card">
  <div class="card-header">
    Hiciste Match Con:  
  </div>
  <div class="card-body">
    <h5 class="card-title">La cita se agendo en el siguiente Lugar: </h5>
    <p class="card-text">Parque Recreativo Santa Cruz Meyehualco</p>
    <a href="https://goo.gl/maps/ub9gpAqNE2smnbSf8" target="_blank" class="btn btn-primary">Mostrar Ubicacion en el Mapa</a>
  </div>
</div>