
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SinAnimales</title>
</head>
<body>
    <main>
        <h1>¡Lo sentimos! Se terminaron los animales por tu zona, regresa cuando haya más 🥰</h1>
        <img src="~/img/Error.bmp" alt="Error" />
    </main>
</body>
</html>
