<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - PetCouple</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>           
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
         <div class="container-fluid">
           <a class="navbar-brand" href="#"><i class="fa-solid fa-cat"></i> PetCouple</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
           </button>
           <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarNav">
             <ul class="navbar-nav d-flex">
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" asp-action="Inicio" asp-controller="Home">Inicio</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" asp-action="Likes" asp-controller="Home">Likes</a>
               </li>               
               <li class="nav-item">
                 <a class="nav-link" asp-action="Match" asp-controller="Home">Match</a>
               </li>               
               <li class="nav-item">
                 <a class="nav-link" asp-action="Configuracion" asp-controller="Home">Configuracion</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" asp-action="CerrarSesion" asp-controller="Home">@ViewData["Usuario"] <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
               </li>
             </ul>
           </div>
         </div>
       </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2022 - PetCouple - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/51abc8c8ee.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
